/.idea/
/configserver/mvnw.cmd
/configserver/mvnw
/configserver/.mvn/
/licensing-service/mvnw.cmd
/licensing-service/mvnw
/licensing-service/.mvn/
/eurekaserver/mvnw.cmd
/eurekaserver/mvnw
/eurekaserver/.mvn/
